* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}
nav{
    position: fixed;
    display: flex;
    align-items: flex-start;
    background-color: #111;
   height: 14vh;
    width: 100%;
    justify-content: space-between;
    padding: 2vw 10.4vw;
    z-index: 10;
}

nav h1{
    font-size: 1.6vw;
}

.nav-list{
    display: flex;
}

.nav-list{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    position: relative;
    padding: 1vh 0;
    z-index: 10;
}
.nav-list h4{
    font-size: 0.80vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}
.nav-list h5{
    margin-bottom: 1vw;
    
    display: none;
    overflow: hidden;
}
.nav-list h5 span{
    font-size: 0.77vw;
    font-weight: 400;
    /*transform: translate(25px);*/
    display: inline-block;
}

nav button{
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 13px 16px;
    border-radius: 50px;
    border: none;
    font-size: 0.85vw;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 10;

}
nav button svg{
    height: 0.85vw;
    margin-left: 1.65vw;
}
#inav-bottom{

    background-color: #111;
    width: 79%;
    position: absolute;
    height: 0vh;    
    position: absolute;
    top: 100%;
    z-index: 9;
    border-bottom: 1px solid #fff;
    
}
@media (max-width:600px) {
    
    
}
 
/*nav:hover #inav-bottom{
   background-color: #111;
    height: 150%;
    bottom: -150%;
}
#inav-bottom{

    background-color: red;
    width: 80%;
    position: absolute;
    height: 0%;    
    bottom: 0%;    instead of -100%
    border-bottom: 1px solid #dadada;
    transition: all ease 0.65s;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2vw 12.5vw;
    padding-left: 15vw;
    padding-top: 3vw;
}
.nav-list{
    display: flex;
    gap: 2vw;
}
.nav-list-elem h4{
    font-size: 0.76vw;
    font-weight: 600;
    text-transform: uppercase;
}
#inav-bottom-detail{
    margin-top: 2vw;
}
.nav-list-elem h5 span{
    font-size: 1vw;
    font-weight: 500;
    
}
#inav-bottom-detail h5{
    background-color: red;
    margin-bottom: 0.4vw;
    opacity: 0;
}*/

#ipage1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
@media (max-width:600px) {
    #ipage1{
        height: 73vh;
    }
    
}

#ipage1 h1{
    color: #fff;
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
    
}
@media (max-width:600px) {
    #ipage1 h1{
        line-height: 9.4vw;
        margin-top: .5vw;
        font-size: 10vw;
    }
    
}

#ipage1 h1 svg{
    height: 6vw;
   width: 6vw;
    background-color: green;
    border-radius: 50%;
}
@media (max-width:600px) {
    #ipage1 h1 svg{
        height: 8vw;
        width: 8vw;
    }
    
}
#ipage1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 2vh;
}
@media (max-width:600px) {
    #ipage1 p{

        margin-top: 4vh;
        font-size: 4.3vw;
    }
    
}
#ipage1-detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}
#ipage1-detail h4{
font-weight: 400;
font-size: 2vw;
text-transform: lowercase;
padding: 5px  10px  ;
border: 1px solid #979797;
border-radius: 50px;
margin-top: 2vh;
}
@media (max-width:600px) {
    #ipage1-detail h4{
        
        margin-top: 8vh;
        font-size: 2.5vw;
    }
    
}

#imoving-div{
    /*background-color: red;*/
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap; /* this line show img in one line  */
    padding: 1.2vw;
    overflow: hidden; /*this can hidden the nowrap*/
}
@media (max-width:600px) {
    #imoving-div{
        height: 18vw;
        width: 70vw ;
    }
    
}
#imoving-div .move{
    display: inline-block;
    animation-name: run;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; /*this can run continiously*/
}
#imoving-div .move img{
    height: 1vw;
    margin: 0 1.2vw;
}
@media (max-width:600px)  {
    #imoving-div .move img{
        color: red;
        height: 1.3vh;
    }
    
}
/*animation on images apply on .move view in #imoving-div .move*/
@keyframes run{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/*blur the moving div left and right side */
#blur-left{
    height: 100%;
    width: 20%;
    /*background-color: red;*/
    background: linear-gradient(to right, #111,transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
#blur-right{
    height: 100%;
    width: 20%;
    /*background-color: red;*/
    background: linear-gradient(to right, transparent,#111);

    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
#iPage2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
    
}
@media (max-width:600px) {

    #iPage2{
        
        height: 70%;
    }
}
#ipage2-left{
    height: 100%;
    width: 40%;
    /*background-color: coral;*/
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}
@media (max-width:600px) {
    #ipage2-left{
        height: 70vw;
        padding: .4vw 0;
    }

    
}
#ipage2-left p{
    font-size: 1vw;
}
@media (max-width:600px) {
    #ipage2-left p{
        font-size: 4.5vw;
    
        
    }
    
}
#ipage2-left h5{
    font-size: 1.1vw;
    width: 70%;
    font: 600;
}
@media (max-width:600px) {
    #ipage2-left h5{
        font-size: 2.7vw;
        width: 91%;
        padding-top: 12vh;
        
    }
    
}

#ipage2-right{
    height: 100%;
    width: 52%;
    /*background-color: coral;*/
}
@media (max-width:600px) {
    #ipage2-right{
        height: 75%;
        width: 55%;

    }
    
}
.right-elem{
    position: relative;
    /*background-color: red;*/
    padding-top: 2vw;
    padding-bottom: 4.2vw;
    border-bottom: 1px solid #333;

}
@media (max-width:600px) {

    .right-elem{
        padding-top: 4vh;
    }
}
.right-elem h2{
    font-size: 1.3vw;
    font-weight: 400;
}
@media (max-width:600px) {

    .right-elem h2{
        font-size: 2.9vw;
    }
}

.right-elem img{
    height: 5vw;
    width: 5vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
@media (max-width:600px) {

    .right-elem img{
        width: 10vw;
        height: 10vw;
    }
}
    


#ipage1-detail h4:nth-last-child(2){
    border: none;
}
#ipage3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

}
@media (max-width:600px) {

    #ipage3{
           height: 50vh;
    }
}
.play-button{
    /*background-color: red;*/
    display: flex;
    align-items:center;
    flex-direction: column;
    padding: 1vw;
    
    
}
.play-button h5{
    font-size: .7vw;
    font-size: 200;
    padding: 9px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: white;
    color: #111;
    border-radius: 50px;
    margin-top: 1vw;
    opacity: 0;
    transition: all ease 0.5s;
}

    

.play-button .icon{
    background-color: white;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
@media (max-width:600px) {
    .play-button .icon{
        
        width: 20vw;
        height: 20vw;
    }
}
.play-button .icon i{
    color: #111;
    font-size: 2.8vw;
    overflow: hidden;
}
@media (max-width:600px) {
    .play-button .icon i{
        
        font-size: 6vw;
    }
}
.play-button:hover h5{
    opacity: 1;

}
#ipage3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
   /* transform: scaleX(0.7) scaleY(0.2);/* use to adjust size like width and height*/
   transform: scaleX(0.7) scaleY(0);
   opacity: 0;
    border-radius: 30px
}

/*codding for ipage4*/

#ipage4{
    min-height: 100vh;
    width: 100%;
    background-color: white;
    position: relative;
    padding-bottom: 5vh;
}
.section{
    height: 72vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
    
}
@media (max-width:600px) {
    .section{
        display: flex;
        flex-direction: column;
        padding: 6vh 0;
    }
    
}
.section-left{
    height: 100%;
    width: 40%;
    /*background-color: aqua;*/
    border-top: 1px solid #000;
    padding-top: 3vh;
    
}
@media (max-width:600px) {
    .section-left{
        width: 77vw;
        display: flex;
        align-items: center;
    flex-direction: column;
width: 48vw;
    }
    
}
.section-left h2{
    font-size: 2vw;
    font-weight: 600;
    color: black;
}
@media (max-width:600px) {
    .section-left h2{
        font-size: 7.6vw;
        
        
    }
    
}
.section-left p{
    margin-top: 13vh;
    font-size: 1.3vw;
    color: black;
    font-weight: 300;
}
@media (max-width:600px) {
    .section-left p{
        font-size: 4.3vw;
        margin-top: 5.5vw;
        width: 70vw;
        font-weight: 400;
    }
    
}
.section-right{
    height: 100%;
    width: 70%;
    background-color: rgb(55, 97, 97);
    position: relative;
}
@media (max-width:600px) {
    .section-right{
        width: 90vw;
        height: 150vw;
        margin-top: 14vw;
    }
    
}
.section-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
@media (max-width:600px) {
    .section-right img{


    }
    
}

.section-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}
@media (max-width:600px) {
    .section-right video{
        
    }
    
}
/*code for ipage5 */

#ipage5{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vh 10vw;
}

@media (max-width:600px) {
    #ipage5{
               
               padding: 2vh 3vw;


            }
    
}
#ipage5>button{
    background-color: #0BA34E;
    padding: 1vw 2vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    font-weight: 600;
    position: sticky; /*this cannnot move button tiil scrol from top:10%*/
    top: 10%;
}
@media (max-width:600px) {
    #ipage5>button{
               width: 30vw;
               height:15vw;
               margin-top: 5vw;
               font-size: 2vw;
               position: relative;
            }
    
}
.page5-right{
    width: 60%;
}
.page5-right>p{
    font-size: 1.5vw;
}
@media (max-width:600px) {
    .page5-right>p{
        font-size: 2vw;
        font: 300;
        line-height: 3vw;
        margin-top: 4vw;

    }
    
}

/*this code is use to create little bit space in the paragrph*/
.page5-right>p span{
    width: 20vw;
    display: inline-block;

}
@media (max-width:600px) {
    .page5-right>p span{
      width: 20vw
    }
    
}


#ipage5-content{
    /*background-color: red;*/
    width: 100%;
    margin-top: 5vh;
    padding: 5vh 0;

}

#ipage5-content>h1{
    font-size: 3vw;
}
@media (max-width:600px) {
.uiux-arrow>h1{
        font-size: 4vw;

    }
    
}

#ipage5-content #ipage5-content-detail{

    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

   

#ipage5-content #ipage5-content-detail>h4{
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;


}
.page5-contner-detail{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 2vh;
    padding-bottom: 9vh;
    /*background-color:red;*/
    position:relative ;
    overflow: hidden;
    border-top: 1px solid #333;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}
@media (max-width:600px) {
    .page5-contner-detail{
        padding-bottom: 3vh;
    }
    
}

   
.page5-contner-detail p{
    width: 55%;
    font-size: 0.9vw;
    position: relative;
    z-index: 8;

}
@media (max-width:600px) {
    .page5-contner-detail p{
        font-size: 2vw;
        width: 76%;
    }
    
}
.page5-contner-detail h3{
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
}
@media (max-width:600px) {
    .page5-contner-detail h3{
        font-size: 3.5vw;
    
    }
    
}

.page5-contner-detail i{
    font-size: 1vw;
    position: relative;
}
@media (max-width:600px) {
    .page5-contner-detail i{
        font-size: 2vw;
        
    }
    
}
/*create animation code to over the ipage5*/

.over{
    height: 100%;
    width: 100%;
    background-color: #252525;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}
.page5-contner-detail:hover h3{
    padding-left: 1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;


}
.page5-contner-detail:hover i{
    padding-right: 1vw;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;

}
.page5-contner-detail:hover .over{
    transform: translateY(0);
    opacity: 1;
    
}
.page5-contner-detail:hover{
    border-top: 2px solid #fff;
}
/*remove marker of summary in detail tag */
summary::marker{
    content: "";
}
.uiux{
    border-top: 1px solid #ffff;
    padding-top: 5vh;
   

}
.product{
    border-top: 1px solid #ffff;
    padding-top: 5vh;

}
.uiux-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*background-color: red;*/
}
.product-arrow{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
/*code for ipage6*/


#ipage6{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}
#ipage6>h1{
    color: #000;
    font-size: 6vw;
    padding: 10vh 0;
    padding-left: 28vw;
    padding-right: 28vw;
    border-bottom: 1px solid #858585;
    padding-bottom: 8.5vh;
    
}

    

#ipage6-content{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#ipage6-content #right-6{
    margin-top: 10vh;
    width: 72%;
    
}
#ipage6-content #right-6>p{
    margin-bottom: 5vw;
    font-size: 1.6vw;
    width: 62%;
    color: #111;
}
@media (max-width:600px) {
    #ipage6-content #right-6>p{
        
        font-size: 3.5vw;
        margin-left: 2vh;
        width: 85%;
    }
    
}
#ipage6-content #blue-btn{
    background-color: #14054d;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 7vh;
    border-radius: 100px;
    margin-left: 7.3vw;
    
    
}
@media (max-width:600px) {
    #ipage6-content #blue-btn{
        width: 22vw;
        height: 7vh;
        margin-left: 5.3vw;
        

    }
    
}
#blue-btn h4{
    position: absolute;
    font-size: 0.9vw;
    text-transform: uppercase;
    padding: 2vw 3vh;
}
@media (max-width:600px) {
    #blue-btn h4{
        font-size: 1.3vw;
        padding: 2vw 4vh;

    }
    
}
#blue-btn i{
    padding-left: 1vw;
}
#ipage6-bottom{
    height: 45vh;
    width: 84%;
    /*background-color: rgb(14, 12, 12);*/
    margin-left: 10vw;
    border: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
@media (max-width:600px) {
    #ipage6-bottom{
        height: 30vh;
    }
    
}
@media (max-width:600px) {
    #ipage6-bottom h5{

        font-size: 2vw;
    }
    
}
@media (max-width:600px) {
    #ipage6-bottom h4{
        font-size: 1vw;
    }
    
}
#ipage6-p1{
    width: 30%;
    /*background-color: red;*/
    height: 100%;
    border-right: 1px solid #dadada;
}
#ipage6-p2{
    width: 28%;
   /* background-color: rgb(36, 75, 107);*/
    height: 100%;
    border-right: 1px solid #dadada;
}
#ipage6-p3{
    width: 20%;
    /*background-color: rgb(12, 19, 26);*/
    height: 100%;
    border-right: 1px solid #dadada;
}
#ipage6-p4{
    width: 16%;
   /* background-color: rgb(107, 36, 77);*/
    height: 100%;
    border-right: 1px solid #dadada;
}
@media (max-width:600px) {
    #ipage6-p4{
        width: 20%;
    }
    
}
#ipage6-p5{
    width: 10%;
  /*  background-color: rgb(36, 75, 107);*/
    height: 100%;
    
}

.botom6-paarts{
    padding: 1vw
}
.botom6-paarts h5{
    color: #000;
    padding: 2vh 0;
    font-size: 1.5vw;
}
.botom6-paarts h4{
    padding: 4px 10px;
    background-color: #111;
    border-radius: 50px;
    width: 80%;
    font-size: 0.8vw;
    display: flex;
    
    align-items: center;
    margin-bottom: 0.3vh;
}
.botom6-paarts span{
    background-color: #333;
    border-radius: 50%;
    padding: 0.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2vw;
    height: 2vw;
    margin-right: 2vw;

}
#ipage6-p2 h4:nth-child(2){
    color: red;
    transform: translateX(0);
}
#ipage6-p2 h4:nth-child(3){
    
    transform: translateX(10%);
}
#ipage6-p2 h4:nth-child(4){
    transform: translateX(20%);
}
#ipage6-p2 h4:nth-child(5){
    transform: translateX(30%);
}
#ipage6-p2 h4:nth-child(5){
    transform: translateX(40%);
}
#ipage6-p2 h4:nth-child(6){
    transform: translateX(50%);
}#ipage6-p2 h4:nth-child(7){
    transform: translateX(60%);
}

#ipage7{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
}
.manu{
    opacity: 0;
}

/*code for responsive website*/
@media (max-width:600px) {
    nav{
        width: 100vw;
        height: 12vh;

    }
    .nav-list{
        opacity: 0;
    }
    .manu{
        opacity: 1;
    }
    nav button svg{
        opacity: 0;
    }
    nav button{
        opacity: 0;
    }
    .manu{
        margin-top: 3vh;
        font-size: 21px;
    }
    nav p{
        margin-top: 3vh;
        font-size:18px ;
    }
}


